@font-face {
    font-family: 'Kelsi';
    src: url('Kelsi-Regular.woff2') format('woff2'),
        url('Kelsi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

